body/*Características Principais do Corpo*/
{
    background-color: azure;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1/*Características do Título*/
{
    color: #333FFF;
    text-align: center;
    font-size: 20px;
    
}

h2/*Características do Subtítulo*/
{
    color: #B8B9C4;
    text-align: center;
    font-size: 15px;
}

.grid-container/*Classe contentora onde a estrutura Grid é declarada*/
{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;/*Definir a estrutura da página com linhas e colunas*/
    grid-template-rows: 80px 350px 200px 100px;
    margin: 0px;
    padding: 0px;
}

.element /*Classe dos Elementos*/
{
    padding: 0px;
    margin: 0px;
    text-align: center;
}

div h1 img/*Características da Imagem do Título*/
{
    width: 300px;
    height: 300px;
}

table/*Características da Tabela*/
{
    width: 350px;
    height: 50px;
    border: 1px solid green;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    padding: 10%;
}

table,/*Características da Tabela*/
td,
th
{
	border:1px solid green;
	border-collapse:collapse;
}

td,
th
{
    margin: 10px;
    padding: 10px;
}

td
{
	text-align: center;
}

th
{
	text-align: left;
    background-color: white; 
    font-size: normal;
}

table caption/*Características da Legenda da Tabela*/
{
    background-color: #333FFF;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border:1px solid green;
    border-collapse:collapse;
}

#first-content/*Carateristica do Primero Elemento*/
{
    padding:0px auto;
    margin: 0px auto;
    text-align: center;
    width: 100%;
    height: 80%;
}

/*
 * Description: Styles for the first content list items.
 */
#first-content li
{
    justify-content: left; 
    align-items: right;
    list-style: none;
}

/*
 * Description: Styles for the element list items.
 */

.element ul li
{
    padding: 10px;
    margin: auto;
    text-align: center;
    width: 100%;
    height: 100%;
    display:inline;
    list-style: none;
}

.element:first-child/*Características do Primeiro Elemento*/
{
    grid-column: 1 / 4;
    grid-row: 1 ;
}

.element:nth-child(2)/*Características do Segundo Elemento*/
{
    grid-column: 1 ;
    grid-row: 2;
}

.element:nth-child(3)/*Características do Terceiro Elemento*/
{
    grid-column: 2 ;
    grid-row: 2 ;
}

.element:nth-child(4)/*Características do Quarto Elemento*/
{
    grid-column: 3;
    grid-row: 2 ;
}

.element:nth-child(5)/*Características do Quinto Elemento*/
{
    grid-column: 2 ;
    grid-row: 3;
    width: 100%;
    height: 100%;
}

.element:nth-child(6)/*Características do sesto Elemento*/
{
    grid-column: 2;
    grid-row: 4 ;
}

div footer form /*Características do Rodapé*/
{
    text-align: center;
    padding: 10px;
    margin: 0px;
}


@media screen and (max-width: 490px){ /*Características da Página para Dispositivos Móveis*/
    
.grid-container/*Classe contentora onde a estrutura Grid é declarada*/
{
display: grid;
grid-template-columns: 490px ;/*Definir a estrutura da página com linhas e colunas*/
grid-template-rows: 50px 350px 150px 50px ;
margin: 0px;
padding: 0px;
}

.element:nth-child(1)/*Filha classe número 1*/
{ 
    grid-column: 1; 
    grid-row: 1; 
    padding: 0px 35px 0px 0px; 
}
   

.element:nth-child(2)/*Filha classe número 2*/
{
    display: none;
}

.element:nth-child(3)/*Filha classe número 3*/
{
    grid-column: 1; 
    grid-row: 2;
    align-items: center;
}

.element:nth-child(4)/*Filha classe número 4*/
{
    display: none;
}

.element:nth-child(5)/*Filha classe número 5*/
{
    grid-column: 1; 
    grid-row: 3; 
    padding: 0px 20px 0px 60px; 
    margin: 10px;   
}

.element:nth-child(6)/*Filha classe número 6*/
{
    grid-column: 1;
    grid-row: 4 ;
    align-items: center;
}

table,/*Características da Tabela*/
td,
th
{
	border:1px solid green;
	border-collapse:collapse;
    align-content: center;  
}

td,
th
{
    margin: 10px;
    padding: 10px;
    font-size: 10px;
}

td
{
	text-align: center;
}
th
{
	text-align: left;
    background-color: white; 
    font-size: normal;
}

table caption
{
    background-color: #333FFF;
    color: white;
    font-size: 12px;
    font-weight: bold;
    border:1px solid green;
    border-collapse:collapse;
}

div footer form /*Características do Rodapé*/
{
    text-align: center;
    padding: 10px;
    margin: 0px;
    font-size: 10px;
}

    
}

