body/*Características Principais do Corpo*/
{
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

div h1 img/*Características da Imagem do Título*/
{
    width: 300px;
    height: 300px;
}

.calibri-font {
    font-family: Calibri, sans-serif;
}

table {
    width: 100%;
    border: 5px solid green;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}



/*Altere o valor para alterar o tamanho do texto das células */
th, td {
    height: 10px;
    padding: 30px;
    border: 5px solid green;
    font-size: 30px;
    text-align: center;
}
/*Altere o valor para alterar o tamanho do texto dos títulos -->*/
